body {
  margin: 0;
  overflow: hidden;
  background-color: #ccbcbc;
  height: 100vh;
}

#game-container {
  overflow: hidden;
  width: 90vw;
  height: 400px;
  margin: 0 auto;
  position: relative;
  background-color: #f0f0f0;
  z-index: 2;
  display: flex;
  align-items: center;
}

#grass-container {
  width: 4000px;
  height: 50px;
  margin: 0 auto;
  position: absolute;
  bottom: 0px;
  background-color: #f0f0f0;
  background-image: url("/assets/content/grass.png");
  background-repeat: repeat-x;
  background-size: 1%;
  background-position: bottom;
  z-index: 1;
  transform: translateX(-10px);
}

#second-grass {
  width: 4000px;
  height: 50px;
  margin: 0 auto;
  position: absolute;
  bottom: 0px;
  background-color: #f0f0f0;
  background-image: url("/assets/content/grass.png");
  background-repeat: repeat-x;
  background-size: 1%;
  background-position: bottom;
  z-index: 1;
  transform: translateX(3990px);
}

#horse {
  position: absolute;
  left: 50px;
  transition: 0.3s;
  z-index: 2;
}

.obstacle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 34px;
  height: 40px;
  background-image: url("/assets/content/icons8-fence-48.png");
  z-index: 2;
}
#score-area {
  position: absolute;
  width: 20%;
  height: 20px;
  padding-left: 15px;
  top: 10px;
}
#leaderboard {
  width: 20%;
  height: 200px;
  position: absolute;
  right: 0;
  text-align: right;
  padding: 0 15px;
  top: 10px;
}

#gameover {
  margin: 0 auto;
  text-align: center;
  line-height: 30px;
}

#spaceimg {
  height: 25px;
  margin: 0 5px;
  margin-bottom: 0;
}

.horse {
  height: 50px;
}

.none {
  display: none;
}
